* { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
}

header{
  grid-area: header;
  background-color: rgb(250, 156, 49);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2rem;
}

main{
  grid-area: main;
  background-color: white;
}
footer{
  grid-area: footer;
  background-color: rgb(250, 156, 49);
  color: white;
  text-align: center;
  width: auto;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

p {
  padding: 0;
  margin: 0.5rem;
}

.logo-L{
  width: 300px;
}

.icon{
  width: 20px;
  height: 20px;
}

.icon-name{
  display: flex;
  align-items: center;
}

.name-jobs {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem;
  background-color: rgb(250, 166, 222);
  text-align: center;
  grid-area: name-j;
}

.category-job{
  margin: 0.5rem;
  font-size: 15px;
}


a {
  text-decoration: none;
  color: black;
}

.main-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  gap: 10px;
}
.class-type{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 2rem auto;
  grid-area: class;
  align-items: center;
  width: 100vw;
}

.job-container {
  margin: 2rem;
  border: 2px dotted;
  padding: 1rem;
  border-radius: 2rem;
  transition: ;
}

.container {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-warp : warp;
  padding : 20px;  
}

.container .card {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;

  display : flex;
  flex-direction : column;
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}

#tank-b .container .card {
  box-shadow: 0 10px 20px rgba(17, 0, 248, 0.5);
}

#healer-b .container .card {
  box-shadow: 0 10px 20px rgba(2, 194, 76, 0.637);
}
#dps-b .container .card {
  box-shadow: 0 10px 20px rgba(194, 2, 2, 0.637);
}

.container .card:hover {
  height : 270px;    
}


.container .card .image {
  position : relative;
  width : 280px;
  height : 280px;
  top : -40%;
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 10px;
  color : #2b2b2b;
  text-align : center;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 50px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}


.bottom-page{
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.pag {
  background-color: rgb(158, 222, 238);
  color: rgb(73, 73, 73);
  padding: 0.3rem;
}

.pag-p{
  background-color: rgb(37, 202, 79);
  color: rgb(73, 73, 73);
  padding: 0.3rem;
}
.pag-f{
  color: #2b2b2b;
}
.icons i{
  color: #fff;
}
.pag-f{
  color: #2b2b2b;
}








@media (min-width: 576px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-template-areas:
    "header header"
    "name-j main"
    "footer bottom";
    gap: 5px;
    grid-template-columns: 13rem 2fr;
  }

  header {
    font-size: 20px;
    display: flex;
    justify-content: start;
    margin: 0;
  }

  .name-jobs{
    margin: 0;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    background-color: #fff;
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  
  .job-main {
    display: flex;
    flex-direction: column;
  }

  .tarjetas-total{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin: 0.5rem;
    padding: 10px;
    width: 900px;
  }
}




@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    width: 100vh;
    grid-template-areas:
    "header header"
    "name-j main"
    "footer bottom";
    gap: 10px;
    grid-template-columns: 15rem 4fr;
  }
  .tarjetas-total{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 1200px;
  }
  header {
    font-size: 10px;
  }

}

@media (min-width: 1700px) {
  .grid-container {
    display: grid;
    width: 100vh;
    grid-template-areas:
    "header header"
    "name-j main"
    "footer bottom";
    gap: 10px;
    grid-template-columns: 15rem 4fr;
  }
  .tarjetas-total{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 1600px;
  }
  header {
    font-size: 10px;
  }

}